.Body {
  background-image: url(https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  height: 552px;
  display: felx;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.color_overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
.Navbar {
   position: relative; 
  z-index: 2;
}
#box1 {
  width: "50%";
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 460px;
  left: 20%;
}

#box2{
    width: "50%";
  margin: auto;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-top: 17%;
}
